<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Tutorial</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <h2>Getting started with {{word}}</h2>
    {% if word == 'flask' %}
        <p>This is flask</p>
    {% else %}
       <p>This is not flask</p>
    {% endif %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed ex numquam voluptas ad veritatis autem neque libero esse atque 
        laboriosam ullam iusto, ipsa, adipisci inventore quia. Adipisci, tempora reiciendis.</p>
    <p>The topic is {{ word|capitalize }}</p>
</body>
</html>
